{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    <script src="https://cdn.tiny.cloud/1/prov7b5xue6vf2iwpm6zycj0cae50umuzim111ex6vu4042f/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
        selector: '#clientinfo',
        height: 400,
        width: 850,
        menubar: false,
        plugins: [
            'advlist lists charmap print preview hr anchor pagebreak spellchecker',
            'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime nonbreaking',
            'save table contextmenu directionality template paste textcolor codesample'
        ],
        toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link | print preview media fullpage | forecolor backcolor | codesample',
        codesample_languages: [
            {text: 'HTML/XML', value: 'markup'},
            {text: 'JavaScript', value: 'javascript'},
            {text: 'CSS', value: 'css'},
            {text: 'Processing', value: 'processing'},
            {text: 'Python', value: 'python'}
            ],
        content_css: [
          '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
          '//www.tiny.cloud/css/codepen.min.css'
        ]
        });
    </script>
    <h3>Add post</h3>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
            <br />
            <br />
        </div>
    </div>
{% endblock %}
