<div class="col-xs-12 col-sm-6">
    <table class="table table-hover">
        <tr>
            <td width="70px">
                <div style="height: auto; width: 100px;">
                    <a href="{{ url_for('main.user', username=post.author.username) }}">{{ post.author.name }} </a><br />
                    added: {{ moment(post.timestamp).fromNow() }}<br />
                    <hr style="width: auto; text-align: left; margin-left:5px; margin-top: 5px; margin-bottom: 5px; margin-right: 10px;">
                    <b>Item:</b><br />
                    {% block content %}

                    {% endblock content %}
                    <p>
                        {% if post.author.username == current_user.username %}
                            <a href="{{ url_for('main.editpost', id=post.id) }}"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;&nbsp;<a href="{{ url_for('main.deletepost', id=post.id) }}"><i class="fas fa-trash-alt"></i></a>
                        {% endif %}
                    </p>
                </div>
            </td>
            <td>
                <div style="height: auto;">
                    <b>Item list:</b><br />
                    {{ post.clientinfo|safe }}<br />
                </div>
            </td>
        </tr>
    </table>
</div>
