{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div class="row">
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
</div>
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true"><i class="fas fa-angle-left"></i></span> Newer
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older <span aria-hidden="true"><i class="fas fa-angle-right"></i></span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
