{% extends "base.html" %}
{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{ user.avatar(128) }}"></td>
            </td>
            <td>
                <p>
                    <h4><i class="fas fa-user fa-sm"></i> {{ user.name }} - {{ user.username }}</h4>
                    <h4><i class="fas fa-envelope fa-sm"></i> {{ user.email }}</h4>
                </p>
                <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
                {% if not current_user.is_following(user) %}
                <p><i class="fas fa-plus fa-sm"></i> <a href="{{ url_for('main.follow', username=user.username) }}"><b>Follow</b></a></p>
                {% else %}
                <p><i class="fas fa-minus fa-sm"></i> <a href="{{ url_for('main.unfollow', username=user.username) }}"><b>Unfollow</b></a></p>
                {% endif %}
                {% if user == current_user %}
                <p><a href="{{ url_for('auth.edit_profile') }}">Edit profile</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true"><i class="fas fa-angle-left"></i></span> Newer
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older <span aria-hidden="true"><i class="fas fa-angle-right"></i></span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
